@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('https://img.freepik.com/free-vector/bokeh-effect-gradient-background_23-2148381458.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}